<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vikrant.tour_guide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.vikrant.tour_guide.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vikrant.tour_guide.Italy"
            android:label="Italy"
            android:parentActivityName="com.vikrant.tour_guide.MainActivity"></activity>
        <activity
            android:name="com.vikrant.tour_guide.France"
            android:label="France"
            android:parentActivityName="com.vikrant.tour_guide.MainActivity"></activity>
        <activity
            android:name="com.vikrant.tour_guide.Spain"
            android:label="Spain"
            android:parentActivityName="com.vikrant.tour_guide.MainActivity"></activity>
        <activity
            android:name="com.vikrant.tour_guide.Russia"
            android:label="Russia"
            android:parentActivityName="com.vikrant.tour_guide.MainActivity"></activity>
    </application>

</manifest>